* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
:root {
  --primary: #bf9b30;
  --Green: #34a853;
  --Red: #1a1919;
  --Grey: #d0d0d0;
  --Black: #000000;
  --white: #fff;
  --overlay: rgba(0, 0, 0, 0.25);
  --hover: #dbb338;
}
/* icon color */
.title-icon {
  color: var(--primary);
}
.bg-exam {
  background-size: cover;
  background-position: center;
}
.overlay-exam {
  height: 100%;
  width: 100%;
  padding-bottom: 120px;
}
.line-hvr {
  width: 50px;
  height: 1px;

  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  margin-top: -10px;
}
.online-exam-hvr:hover .line-hvr {
  width: 115px;
}
/* card date */
.card-dtd1 {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* card duration */
.card-dtd3 {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* bar */
.bar {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: var(--white);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.bar::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
/* double progress circle  */
.circle-progress-outside {
  /* width: 16rem; */
  height: 16rem;
}
.circle-progress-inside {
  top: calc(4rem / 2);
  /* width: 12rem; */
  height: 12rem;
}
.CircularProgressbar-trail {
  stroke-width: 3.5 !important;
  stroke: white !important;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: #bf9b30 !important;
}
.CircularProgressbar-text {
  fill: white !important;
}
/* btn view answer  */
.btn-progress .btn {
  background-color: var(--primary);
}
.btn-progress .btn:hover {
  background-color: var(--hover);
}
/* view-answered  */
.view-answered {
  background-color: var(--overlay);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.Questions h4 {
  font-size: 25px;
  margin-left: 70px;
}
.btn-question {
  background-color: var(--overlay);
  font-size: 23px;
  padding: 12px 0 !important;
  cursor: default !important;
}
.btn-question:hover {
  background-color: var(--overlay);
}
/* mobile and tablet screen */
@media (max-width: 991px) {
  .card-dtd {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .card-dtd2,
  .card-dtd3 {
    width: 49%;
  }
  .line-hvr {
    width: 115px;
  }
  .container {
    width: 94%;
  }
  .view-answered {
    background: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
  }
  .progres-ovrly {
    background-color: var(--overlay);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }
  .Questions h4 {
    font-size: 25px;
    margin-left: 0px;
  }
  p {
    font-size: 20px;
  }
  /* icon */
  svg {
    font-size: 20px;
  }
}
